doctype html
html(lang="en")
    head
        title Major Arkonga
        link(rel="stylesheet", href="index.scss")

    body
        #main
            #info
                #site-info
                    #subtitle BROOKLYN KOEHN'S
                    #title MAJOR ARKONGA
                #tarot-info
                    #tarot-info-left
                        #tarot-title Tarot
                        #tarot-description Description
                        a#tarot-link(target="_blank") Buy on Redbubble
                    #tarot-info-right
                        img#tarot-info-card(src="assets/cards/unknown.jpg")
            #tarot-list
                #tarot-list-cards
        script(src="index.ts")