@import url("https://fonts.googleapis.com/css?family=Grenze&display=swap");
@import "styles/animations.scss";

html,
body {
    font-family: "Grenze", serif;
    font-size: 12px;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("assets/background.jpg");
    height: 100%;
}

#info {
    flex: 1 0;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#site-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    line-height: 3rem;
    user-select: none;

    #subtitle {
        animation-name: fade;
        animation-duration: 2s;
        animation-fill-mode: backwards;
        animation-iteration-count: 1;
        font-size: 3.5rem;
    }

    #title {
        animation-name: fade;
        animation-delay: 1s;
        animation-duration: 2s;
        animation-fill-mode: backwards;
        animation-iteration-count: 1;
        font-size: 4rem;
    }
}

#tarot-info {
    display: none;
    margin: 0 auto;
    max-width: 125vh;
    max-height: 80vh;

    &-left,
    &-right {
        flex: 1;
    }

    &-left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 4rem;
        margin-right: 2rem;
    }

    &-right {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2rem;
    }

    &-card {
        animation-name: fade;
        animation-delay: .5s;
        animation-duration: 2s;
        animation-fill-mode: backwards;
        animation-iteration-count: 1;
        border: 2px solid #000;
        border-radius: 1rem;
        height: 75%;
    }
}

#tarot-list {
    background-color: rgba(0, 0, 0, .6);
    height: 20vh;
    overflow-x: auto;
    overflow-y: hidden;

    &-cards {
        display: table;
        height: inherit;
        margin: 0 auto;
        table-layout: fixed;
        white-space: nowrap;

        div {
            display: table-cell;
            height: inherit;
            vertical-align: middle;
        }
    }

    img {
        border: 2px solid #000;
        border-radius: .25rem;
        box-sizing: border-box;
        cursor: pointer;
        height: 80%;
        margin: 0 .25rem;
        user-select: none;

        &:hover {
            border-color: rgb(114, 114, 114);
        }
    }
}

#tarot {
    &-description {
        animation-name: fade;
        animation-delay: .25s;
        animation-duration: 2s;
        animation-fill-mode: backwards;
        animation-iteration-count: 1;
        font-size: 2rem;
        margin-bottom: 1.5rem;
        text-shadow: rgba(255, 255, 255, .25) 1px 1px 1px;
    }

    &-link {
        animation-name: fade;
        animation-delay: .5s;
        animation-duration: 2s;
        animation-fill-mode: backwards;
        animation-iteration-count: 1;
        align-items: center;
        background-color: #a11;
        color: white;
        display: flex;
        font-size: 1.25rem;
        height: 2.5rem;
        justify-content: center;
        margin-top: 1rem;
        text-decoration: none;
        width: 15rem;
    }

    &-title {
        animation-name: fade;
        animation-duration: 2s;
        animation-fill-mode: backwards;
        animation-iteration-count: 1;
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
        font-weight: bold;
    }
}